// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.bi{
    vertical-align: -.125em;
    pointer-events: none;
    fill: currentColor;
    margin-right: 20px;
}
.bi-facebook{
    margin-right: 4px;
}
.link-dark {
    color: #fff;
}
.link-dark:hover {
    color: #6f92b0;
}

.dataTables_wrapper .dataTables_paginate .paginate_button{
    padding: 0;
}

#sidebarMenu{
    width: 250px;
    position: fixed;
    margin-top: 0;
    z-index: 891;
    top: 0; left: 0; bottom: 0; height: 100%;
    overflow-x: hidden;
    transition: 0.5s;

}

#main-content{
    margin-left: 250px;
}
#sidebarMenu li{
     transition: 0.3s;
    width: 100%;
 }
#main-content{
    transition: 0.5s;
}
.sidebar-toggle{
    display: block;
}
#collapse_me_plz{
    position: absolute;
}
@media (min-width: 1200px){
    #sidebarMenu {
        flex: 0 0 16.6666666667%;
        max-width: 16.6666666667%;
        width: 250px;
    }
    .sidebar-toggle{
        display: none;
    }
}
@media (max-width: 1200px){ // small
    #sidebarMenu {
        width: 0;
    }
    #main-content{
        margin-left: 0;
    }
    .sidebar-toggle{
        display: block;
    }
}
@media (min-width: 1200px){ // large
    #sidebarMenu {
        width: 250px;
    }
    #main-content{
        margin-left: 250px;
    }
    .sidebar-toggle{
        display: none;
    }
}
.closebtn{
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    padding: 0;
}
.facebook-btn{
    background-color: #3454dc;
    border-color: #3454dc;
    color: #fff;
}
.facebook-btn:hover, .facebook-btn:focus{
    background-color: #2143d3;
    color: #fff;
}
.google-btn{
    text-transform:none;
}
.register-btn{
    background-color: #fff !important;
    color: #eee;
}
.sidebarCollapse li, .sidebarCollapse{
    list-style-type: none;
}
.sidebarCollapse > .nav-link.active{
    //background-color: #344451 !important;
}
.nav-link.active{
    background-color: #20496b;
}
.form-control{
    height: auto;
}

element.style {
}
.nav-pills ul > li > .nav-link.active, .nav-pills .show > .nav-link {
    color: #ffffff;
    background-color: #39546b;
}
